body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    position: relative;
}

/*======= header ======*/
.header {
    height: 800px;
    background: url(/img/intro.png) 50% 50% no-repeat fixed;
    background-size: cover;
    margin-bottom: 100px;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.header__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}
.header__logo_img {
    width: 150px;
    height: 150px;
}

/* ====== intro ====== */
.intro {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.intro__schedule {
    size: 12px;
    line-height: 1;
    text-align: center;
    font-style: normal;
    font-weight: 700; 
    transform: rotate(270deg);
}
.intro__content {
    margin-left: -225px;
}
.intro__subtitle {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.intro__title {
    font-size: 96px;
    text-align: center;
    text-transform: uppercase;
}

.intro__buttons {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.intro__btn{
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 198px;
    height: 58px;
}
.intro__btn p {
    padding: 20px 0;
    margin: 0;
}
.intro__btn:first-child {
    margin-right: 40px;
}

/* ====== title_line ======= */
.title_line {
    margin: 15px auto;
    width: 60px;
    height: 5.11px;
    text-align: center;
    background: #E8C300;
    border-radius: 50px;
}

/* ====== nav ======= */
.nav {
    position: fixed;
    top: 0;
    max-width: 1280px;  
    width: 100%;  
    margin: auto;
    }
.nav__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;    
    }
.nav_left {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.nav_right {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.8;
}
.nav__link:hover, .nav__link:focus{
    opacity: 1;
    transition: opacity 0.2ms linear;
}

/* ====== social ======*/
.social {
    display: flex;
    flex-direction: column;
}
.social__item {
    width: 58px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.social__item:last-child {
    margin-bottom: 0;
}
.social__logo_facebook {
    padding-top: 18px;
}
.social__logo_twitter, .social__logo_instagram {
    padding-top: 21px;
}

/* ====== about ======*/
.about__us {
    display: flex;
    padding-bottom: 100px;
}

/* ====== block__img ======*/
.block__image_container{
    width: 50%;
    text-align: center;
    overflow: hidden;
}
.block__img {
    text-align: right;
    position: relative;
    max-width: 475px;
    height: auto;
    padding-right: 125px; 
}
.block__image {    
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
    border-radius: 5px;  
}

.block__img--left {
    text-align: left;
}
.block__image--left {
    filter: drop-shadow(0px 0px 50px #000000);
    padding-left: 125px;
    padding-right: 0;
}

/* ====== square ======*/
.square {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
    border: 20px solid #E8C300;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;   
    z-index: 2; 
}

.square--left {
    left: 0;
    filter: drop-shadow(0px 0px 100px #000000);
}

/* ====== block_text__content ======*/
.block_text__content {
    width: 50%;
    padding: 0 5px;
}
.block_text__title {
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.block_text__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
}
.block_text__bold_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56px;
}

.block--white {
    color: #FFFFFF;
}

/* ====== team ======*/
.team {
    background: url(/img/team-back.png) 50% 50% no-repeat fixed;
    background-size: cover;
}
.team__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    color: #FFFFFF;
    height: 100px;
}
.team__content {
    display: flex;
    padding-bottom: 100px;
}

/* ====== booking ======*/
.order {
    display: flex;
    padding: 100px 5px;
}
.order__content {
    width: 50%;
    padding: 0 5px;
}
.book_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book_table__item {
    width: 47%;
    height: 60px;
    font-size: 14px;
    line-height: 1.31;
    align-items: center;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
    margin: 5px;
    background: #E5E5E5;
}
.order__btn {
    margin: 5px;
    width: 100%;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
}
.order__btn_text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.booking__schedule {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    align-items: center;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}

/* ====== specialties ======*/
.specialties {
    background: url(/img/specialtys-bg.png) 50% 50% no-repeat fixed;
    background-size: cover;
}
.specialties__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    color: #FFFFFF;
    height: 100px;
}
.specialties__content {
    display: flex;
    padding-bottom: 100px;
}

/* ====== menu ======*/
.menu {
    padding: 100px 5px;
}
.menu__submenu {
    padding: 50px 0;
}
.menu__item {
    display: flex;
    justify-content: center;
}
.menu__link {
    width: 120px;
    height: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    color: #333333;
    cursor: pointer;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.menu__link:last-child {
    border-right: 0;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu__list_item {
    width: 30%;
    display: flex;

}
.menu__dish_title {
    font-size: 18px;
    line-height: 1;
    color: #333333;
}
.menu__dish_text {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5;
    color: #333333;
}
.menu__price {
    padding-left: 5px;
    font-size: 18px;
    line-height: 1;
    color: #333333;
}

/* ====== private events ======*/
.events {
    background: url(/img/specialtys-bg.png) 50% 50% no-repeat fixed;
    background-size: cover;
}
.events__title {
    height: 100px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.events__content {
    display: flex;
    justify-content:space-between;
}
.events__footer {
    height: 100px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* ====== photo galerie ======*/
.galerie {
    display: flex;
    justify-content: space-between;
}
.galerie__photo {
    width: 25%;
    border: 0;
}

/* ====== contact ======*/
.contact {
    padding: 100px 5px;
}
.contact__form {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact__input {
    width: 32%;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    align-items: center;
    text-indent: 20px;
    border: 0;
}
.contact__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    align-items: center;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
}
.contact__textarea {
    width: 100%;
    height: 120px;
    margin: 10px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    padding: 0 10px;
    border: 0;
    background: #E5E5E5;
}
.contact__textarea::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-indent: 20px;
    color: rgba(51, 51, 51, 0.5);
} 
.contact__adress {
    width: 50%;
    height: 60px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    align-items: center;
    text-align: center;
    color: rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}
.contact__btn {
    width: 50%;
    height: 60px;
    background: #E8C300;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67; 
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}