body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 0;
    position: relative;
}

/*======= header ======*/
.header {
    height: 800px;
    background: url(/img/intro.png) 50% 50% no-repeat fixed;
    background-size: cover;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.header__logo {
    width: 100%;
    text-align: center;
}
.header__logo_img {
    width: 150px;
    height: 150px;
}

/* ====== intro ====== */
.intro {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.intro__schedule {
    size: 12px;
    line-height: 1;
    text-align: center;
    font-style: normal;
    font-weight: 700; 
    transform: rotate(270deg);
}
.intro__schedule p{
    padding-right: -400px;
}
.intro__subtitle {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.intro__title {
    font-size: 96px;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
}
.intro__title_line {
    width: 60px;
    height: 5.11px;
    text-align: center;
    background: #E8C300;
    border-radius: 50px;
}
.intro__buttons {
    display: flex;
    justify-content: center;
}
.intro__btn{
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 198px;
    height: 58px;
}
.intro__btn p {
    padding: 20px 0;
    margin: 0;
}
.intro__btn:first-child {
    margin-right: 40px;
}

/* ====== nav ======= */
.nav {
    position: fixed;
    top: 0;
    max-width: 1280px;  
    width: 100%;  
    margin: auto;
    }
.nav__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;    
    }
.nav_left {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.nav_right {
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.8;
}
.nav__link:hover, .nav__link:focus{
    opacity: 1;
    transition: opacity 0.2ms linear;
}

/* ====== social ======*/
.social {
    display: flex;
    flex-direction: column;
}
.social__item {
    width: 58px;
    height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.social__item:last-child {
    margin-bottom: 0;
}
.social__logo_facebook {
    padding-top: 18px;
}
.social__logo_twitter, .social__logo_instagram {
    padding-top: 21px;
}